[package]
name = "mrp_discount_function"
version = "1.0.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]
path = "src/main.rs"

[dependencies]
shopify_function = "0.6"
serde = { version = "1.0", features = ["derive"] }
