name: Build & Deploy Shopify Function (Rust)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SHOPIFY_CLI_PARTNERS_TOKEN: ${{ secrets.SHOPIFY_CLI_PARTNERS_TOKEN }}
      SHOPIFY_CLI_TTY: 0
      CI: true

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install WASM target
        run: |
          rustup target add wasm32-unknown-unknown

      - name: Install Shopify CLI
        run: |
          npm install -g @shopify/cli

      - name: Deploy Shopify App (Shopify builds WASM)
        run: |
          shopify app deploy --force
